<a href="https://colab.research.google.com/github/Aofarkane/KKU_Data_mining/blob/master/Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####ข้อ 3
-Hirachy  ลำดับชั้น
-Star Scema ออกเเบบData base  เพื่อทำ Wearhouse
-dice ดูข้อมูลที่เราต้องการ จากลูกเต๋า
-snowflak schema เเตกออกไป
-dimention table อธิบายมุมมองอื่นๆของข้อมูล
-galaxy schema ข้อมูลที่มีความซับซ้อน
-data cube ลูกบาศกข้อมูล
-sum คำสั่งรวม
-print แสดงผล
-data ข้อมูล
-if  ถ้า
-while  วนซ้ำ
-import การนำเข้าข้อมูล
-scatter plot = การกระจายพล็อต
-array  ชุดหรือกลุ่มข้อมูลตัวเลข
-means  หาค่าเฉลี่ย
-DecisionTreeClassifier แผนภุมิต้นไม้
-shape  การดูจำนวนแถว,คอลัม
-Missing Values ช่องว่างของข้อมูล
-KeyError  โค้ดมีข้อผิดพลาดอะไร
-Drill Down  การดูข้อมูลหลายมิติ

##ข้อ1

In [38]:

import pandas as pd

In [39]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [40]:

import os

In [41]:
search_click= pd.read_csv('/content/drive/MyDrive/Final/Copy of search_click.csv')

In [42]:
search_click

         Unnamed: 0             click_timestamp  ...   time_diff_nanos   ads
0                 0  2018-06-15 05:11:38.914154  ...  2222397704154000  True
1                 1  2018-06-15 06:30:51.277476  ...   460838273476000  True
2                 2  2018-06-15 06:32:09.558025  ...  2581491438025000  True
3                 3  2018-06-15 06:00:59.820390  ...  1404578985390000  True
4                 4  2018-06-15 05:23:36.828525  ...   933358625525000  True
...             ...                         ...  ...               ...   ...
7882032     7882032  2018-06-28 01:59:10.893735  ...        4366735000  True
7882033     7882033  2018-06-28 01:59:11.085196  ...        4558196000  True
7882034     7882034  2018-06-28 06:49:02.493141  ...       16961141000  True
7882035     7882035  2018-06-28 06:36:02.865507  ...       27917507000  True
7882036     7882036  2018-06-28 06:20:35.249050  ...       86426050000  True

[7882037 rows x 7 columns]

In [43]:
search_click.isnull().any()

Unnamed: 0          False
click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [44]:
search_click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7882037 entries, 0 to 7882036
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   click_timestamp   object
 2   search_id         object
 3   business_id       float64
 4   display_position  int64
 5   time_diff_nanos   int64
 6   ads               bool
dtypes: bool(1), float64(1), int64(3), object(2)
memory usage: 368.3+ MB

In [ ]:
search_re = pd.read_csv('/content/drive/MyDrive/Final/Copy of search_request.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
search_re

In [ ]:
search_re.isnull().any()

In [ ]:
search_re.info()

In [ ]:
W_Res =pd.read_csv('/content/drive/MyDrive/Final/Copy of w_restaurant.csv')

In [ ]:
W_Res

In [ ]:
W_Res.isnull().any()

In [ ]:
W_Res.info()

In [ ]:
merge_s = search_click.merge(search_re, 
                        left_on=['search_id'], 
                        right_on=['search_id'])
merge_s = merge_s.merge(W_Res, 
                        left_on=['q'], 
                        right_on=['name'])

In [ ]:
merge_s

In [ ]:
merge_s = merge_s.loc[:,['search_id','business_id', 'search_timestamp', 'lat','long','category_name']]

In [ ]:
merge_s

In [ ]:
import datetime
def extract_time(datetime_s):
    EX_date = datetime.datetime.strptime(datetime_s, "%Y-%m-%d %H:%M:%S.%f")
    return EX_date.hour, EX_date.day, get_day(EX_date.weekday()) 

def get_day(D):
    weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
    return weekdays[D] 

def is_food(inp):
    food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']
    return inp in food_list

In [ ]:
table = merge_s.groupby('business_id')['category_name'].apply(list)
table

##ข้อ2

In [10]:
import pandas as pd

In [11]:
import os

In [30]:
path = pd.read_csv('/content/drive/MyDrive/Final/Copy of reduced_marketbasket.csv',encoding='latin1')
path

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [32]:
'Country'!='United Kingdom'

True