<a href="https://colab.research.google.com/github/Aofarkane/KKU_Data_mining/blob/master/pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
import pandas

In [4]:
import os

In [5]:
path = '/content/drive/My Drive/DWDM_material'

In [6]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

In [7]:
search_click_df = pandas.read_csv(search_click)

In [8]:
w_restaurant_df = pandas.read_csv(w_restaurant)

In [9]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [10]:

search_click_df.shape

(1048575, 6)

In [11]:
w_restaurant_df.shape

(246847, 32)

## point to data in table

In [12]:
search_click_df['search_id']

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [13]:
search_click_df['search_id'][0]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [14]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

##iloc

In [15]:
search_click_df.iloc[0,1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [16]:
search_click_df.iloc[:10,:2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

##missing value

In [17]:
search_click_df.isnull()

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [18]:

search_click_df.isnull().any()

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [19]:

search_click_df.isnull().any().any()

True

## Handle missing value

In [20]:
search_click_df_nm = search_click_df.dropna()

In [21]:
search_click_df_nm.isnull().any().any()

False

## Excercise 1  ตรวจสอบว่า การลบข้อมูล missing ออกจากตาราง  w_restaurant จะทำให้ข้อมูลลดลงกี่ %

In [22]:
w_restaurant_df_nm = w_restaurant_df.dropna()

In [23]:
w_restaurant_df_nm.isnull().any().any()

False

In [24]:
print(w_restaurant_df.shape)
print(w_restaurant_df_nm .shape)

(246847, 32)
(4, 32)

In [25]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df_nm.shape[0]
print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop}\nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size before drop = 246847
size after drop = 4
which is 99.99837956304918

##method1.5

In [26]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [27]:
w_restaurant_df.dropna(subset = ['id','name','price_range']).shape

(180972, 32)

##Method2 (raplace with reasonable value)

In [28]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [29]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

##method 2.1 (raplace with unknown value)

##method 3

In [32]:
table_new = w_restaurant_df[['name','city_name','avg_price']]
table_new

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

pandas

In [44]:
selected_list = table_new['city_name']=='Bangkok Metropolitan Region'
selected_list

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [45]:
table_new[selected_list]

                     name                    city_name  avg_price
1            Corner House  Bangkok Metropolitan Region        NaN
3          นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4             Buono Caffe  Bangkok Metropolitan Region        NaN
7                Sazanami  Bangkok Metropolitan Region        NaN
10         Rotee Me Chabu  Bangkok Metropolitan Region        NaN
...                   ...                          ...        ...
246835     ร้านครัวแกงป่า  Bangkok Metropolitan Region        NaN
246840       โตข้าวต้มปลา  Bangkok Metropolitan Region        NaN
246842         Sushi Tama  Bangkok Metropolitan Region        NaN
246843  สะบายดี คาราโอเกะ  Bangkok Metropolitan Region        NaN
246844   สเต็กแม่&กาแฟลูก  Bangkok Metropolitan Region        NaN

[100588 rows x 3 columns]

In [46]:
table_new[table_new['city_name']=='Bangkok Metropolitan Region']

                     name                    city_name  avg_price
1            Corner House  Bangkok Metropolitan Region        NaN
3          นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4             Buono Caffe  Bangkok Metropolitan Region        NaN
7                Sazanami  Bangkok Metropolitan Region        NaN
10         Rotee Me Chabu  Bangkok Metropolitan Region        NaN
...                   ...                          ...        ...
246835     ร้านครัวแกงป่า  Bangkok Metropolitan Region        NaN
246840       โตข้าวต้มปลา  Bangkok Metropolitan Region        NaN
246842         Sushi Tama  Bangkok Metropolitan Region        NaN
246843  สะบายดี คาราโอเกะ  Bangkok Metropolitan Region        NaN
246844   สเต็กแม่&กาแฟลูก  Bangkok Metropolitan Region        NaN

[100588 rows x 3 columns]

##Ex.9 หาราคาเฉลี่ยของร้านในจังหวัดขอนเเก่น

In [47]:
table_new[selected_list]

                     name                    city_name  avg_price
1            Corner House  Bangkok Metropolitan Region        NaN
3          นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4             Buono Caffe  Bangkok Metropolitan Region        NaN
7                Sazanami  Bangkok Metropolitan Region        NaN
10         Rotee Me Chabu  Bangkok Metropolitan Region        NaN
...                   ...                          ...        ...
246835     ร้านครัวแกงป่า  Bangkok Metropolitan Region        NaN
246840       โตข้าวต้มปลา  Bangkok Metropolitan Region        NaN
246842         Sushi Tama  Bangkok Metropolitan Region        NaN
246843  สะบายดี คาราโอเกะ  Bangkok Metropolitan Region        NaN
246844   สเต็กแม่&กาแฟลูก  Bangkok Metropolitan Region        NaN

[100588 rows x 3 columns]

In [55]:
table_new[table_new['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price']

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

In [54]:
table_new[selected_list].dropna().dropna()['avg_price'].mean()

392.5854715094968

##Ex.9 หาราคาเฉลี่ยของร้านในจังหวัดขอนเเก่น

In [62]:
table_new[table_new['city_name']=='Chiang Mai']

                                name   city_name  avg_price
36                       Wrap Master  Chiang Mai        NaN
40                             Sozen  Chiang Mai        NaN
52               ไวท์ดราก้อน หมูกะทะ  Chiang Mai        NaN
60      เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai        NaN
79                ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai        NaN
...                              ...         ...        ...
246783                 ส้มตำลำฮิมกอง  Chiang Mai        NaN
246803       ไก่ทอดปักษ์ใต้ นายหัวโต  Chiang Mai        NaN
246808             แคลิฟอร์เนียเวร็ป  Chiang Mai        NaN
246813        TOONGs COFFEE Roasters  Chiang Mai        NaN
246826                     ลาบเขยยอง  Chiang Mai        NaN

[15670 rows x 3 columns]

In [66]:
cm = table_new[table_new['city_name']=='Chiang Mai']
cm

                                name   city_name  avg_price
36                       Wrap Master  Chiang Mai        NaN
40                             Sozen  Chiang Mai        NaN
52               ไวท์ดราก้อน หมูกะทะ  Chiang Mai        NaN
60      เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai        NaN
79                ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai        NaN
...                              ...         ...        ...
246783                 ส้มตำลำฮิมกอง  Chiang Mai        NaN
246803       ไก่ทอดปักษ์ใต้ นายหัวโต  Chiang Mai        NaN
246808             แคลิฟอร์เนียเวร็ป  Chiang Mai        NaN
246813        TOONGs COFFEE Roasters  Chiang Mai        NaN
246826                     ลาบเขยยอง  Chiang Mai        NaN

[15670 rows x 3 columns]

In [68]:
table_new[table_new['city_name']=='Chiang Mai'].dropna()

                                               name   city_name  avg_price
196                                   Beer Republic  Chiang Mai      175.0
1465    The Riverside Bar & Restaurant @ Chiang Mai  Chiang Mai      375.0
2978                   Juice Street Good Belly Cafe  Chiang Mai       50.0
4683                       P.P. หมูจุ่ม & กระทะร้อน  Chiang Mai      175.0
4918                                     The Duke's  Chiang Mai      175.0
...                                             ...         ...        ...
243517                                     มนต์นมสด  Chiang Mai       50.0
244433                              ก้าวย่างทะเลเผา  Chiang Mai      175.0
244841                            ส้มตำปูม้าป้าป่อง  Chiang Mai       50.0
244937                                 บ้านหมอนอุ่น  Chiang Mai       50.0
245954                                   นาซิ จำปู๋  Chiang Mai      375.0

[464 rows x 3 columns]

In [73]:
cm.dropna()['avg_price'].mean()

188.41594827586206

In [75]:
cmi = cm.fillna(cm.dropna()['avg_price'].mean())
cmi

                                name   city_name   avg_price
36                       Wrap Master  Chiang Mai  188.415948
40                             Sozen  Chiang Mai  188.415948
52               ไวท์ดราก้อน หมูกะทะ  Chiang Mai  188.415948
60      เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai  188.415948
79                ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai  188.415948
...                              ...         ...         ...
246783                 ส้มตำลำฮิมกอง  Chiang Mai  188.415948
246803       ไก่ทอดปักษ์ใต้ นายหัวโต  Chiang Mai  188.415948
246808             แคลิฟอร์เนียเวร็ป  Chiang Mai  188.415948
246813        TOONGs COFFEE Roasters  Chiang Mai  188.415948
246826                     ลาบเขยยอง  Chiang Mai  188.415948

[15670 rows x 3 columns]